@font-face {
    font-family: Yekan Bakh FaNum;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url('../../../static/fonts/woff/YekanBakhFaNum-Regular.woff') format('woff');
}

@font-face {
    font-family: Yekan Bakh FaNum;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    src: url('../../../static/fonts/woff/YekanBakhFaNum-Bold.woff') format('woff');
}

@font-face {
    font-family: Yekan Bakh FaNum;
    font-style: normal;
    font-weight: 100;
    font-stretch: normal;
    src: url('../../../static/fonts/woff/YekanBakhFaNum-Thin.woff') format('woff');
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.message-creation {
    width: 100%;
    /*flex: 1 1 auto; !* باقی‌مانده ارتفاع *!*/
    margin: 0 auto;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 0px;
    flex: 1;
    margin-top: 20px;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.message-container {
    /*background-color: #fff;*/
    /*height: 86vh;*/
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    flex: 1;
    display: flex; /* استفاده از flexbox برای مدیریت داخلی */
    flex-direction: column;
    height: calc(100% - 400px); /* اطمینان از محدود بودن ارتفاع */
    /*overflow-y: auto;*/
    overflow: hidden;
}

.message-creation .right-side {
    position: relative;
    top: 0;
    right: 0;
    width: 370px;
    height: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    direction: rtl;
    border-left: 1px solid #FDEBD0;
    background: rgba(255, 255, 255, 0.99);
}

.message-creation .right-side .customers {
    position: relative;
    top: 0;
    left: 0;
    /*width: 350px;*/
    flex: 1;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    /*border-radius: 25px;*/
    /*margin: 10px auto 0 auto;*/
    background: rgba(255, 255, 255, 0.99);
    /*box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);*/
    border: 1px solid rgba(255, 255, 255, 0.28);
    direction: rtl;

}

.message-creation .right-side .customers .svg-no {
    position: absolute;
    top: calc(50% + 20px);
    left: 50%;
    transform: translate(-50%, -50%);
}

.message-creation .right-side .customers .no-connection {
    position: absolute;
    top: calc(50% + 50px);
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    color: #e3e3e3;
}

.message-creation .right-side .customers .user {
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #FDEBD0;
    padding: 10px;
    direction: rtl;
}

.message-creation .right-side .customers .user:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, #ffffff, #fefafd, #fff5f8, #fff0ee, #ffece2, #ffecdf, #ffeddb, #feeed8, #fff0de, #fff3e4, #fff5ea, #fff8f0);
}

.message-creation .right-side .customers .user .user-pic {
    /*flex: 25;*/
    /*position: relative;*/
    align-items: center;
    justify-content: center;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
    margin-right: 10px;
    overflow: hidden;
}

.message-creation .right-side .customers .user .user-pic img {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.message-creation .right-side .customers .user .user-info {
    flex: 60;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.message-creation .right-side .customers .user .user-info .user-number {
    color: black;
    font-family: 'Yekan Bakh FaNum';
    font-weight: normal;
}

.message-creation .right-side .customers .user .user-info .user-email {
    color: black;
    font-family: 'Yekan Bakh FaNum';
    font-weight: normal;
}

.message-creation .right-side .customers .user .icon {
    margin-left: 50px;
    margin-bottom: 10px;
    width: 10px;
    height: 10px;
    visibility: hidden;
}


/* left side */
.message-creation .left-side {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*border-radius: 25px;*/
    background: rgba(255, 255, 255, 0.84);
    /*box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);*/
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    /*border: 1px solid rgba(255, 255, 255, 0.77);*/
    flex: 1;

}

.message-creation .left-side .top-header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    visibility: hidden;
}

.message-creation .left-side .body {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.message-creation .left-side .body .svg-no-conv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
}

.message-creation .left-side .body #textConversation {
    position: absolute;
    top: calc(50% + 50px);
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    color: #e3e3e3;
    visibility: visible;
}

/* footer send */
.message-creation .left-side .footer {
    position: relative;
    width: 97%;
    /*height: 13%;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid #FFC450;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: #efeff0;

}

#ffAdmin {
    display: none;
}

.message-creation .left-side .footer .textarea {
    position: relative;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 20px;
    width: 100%;
}

.message-creation .left-side .footer .textarea textarea {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    resize: none;
    /*border: 1px solid #B7950B;*/
    border: none;
    outline: none;
    font-size: 12px;
    font-family: Yekan Bakh FaNum;
    direction: rtl;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 15px;
    /*padding-left: 60px;*/
    /*padding-right: 60px;*/

    margin-left: 10px;
    background-color: #efeff0;
    box-sizing: border-box;
    flex: 1;
}

.message-creation .left-side .footer .textarea textarea:disabled {
    background-color: #f5f5f5;
    color: #999;
    cursor: not-allowed;
}

/*---File Upload--*/
.message-creation .left-side .footer .file-upload {
}

.message-creation .left-side .footer .file-upload input[type="file"] {
    font-family: Yekan Bakh FaNum;
    direction: rtl;
    border-radius: 12px;
    margin-top: -100px;
    border: 1px solid #FFC450;
    padding: 8px;
    opacity: 0;
    height: 1px;
    width: 1px;
    z-index: -1;
    display: none;
}

.message-creation .left-side .footer .file-upload .custom-file-upload-admin {
    position: absolute;
    top: 80%;
    right: 10px;
    transform: translateY(-50%);
    margin-top: 3px;
}

.message-creation .left-side .footer .file-upload .custom-file-upload-admin svg {
    margin-top: 7px;
}

.message-creation .left-side .footer .file-upload .custom-file-upload-admin:hover {
    cursor: pointer;
}

.message-creation .left-side .footer .file-upload .custom-file-upload-admin:disabled {
    background-color: #f5f5f5;
    color: #999;
    cursor: not-allowed;
}

.message-creation .left-side .footer .send-message {
    position: absolute;
    top: 77%;
    left: 12px;
    transform: translateY(-50%);
    border: none;
    display: flex;
    height: 30%;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.message-creation .left-side .footer .send-message:hover {
    opacity: .9;
}

.message-creation .left-side .footer .send-message svg {
    margin-top: 6px;
    font-size: 0.55em;
    line-height: 1;
    text-transform: uppercase;
    position: relative;
    transition: background .3s;
    direction: rtl;

    &:hover {
        cursor: pointer;
    }

,
&: focus {
}

    &:active {
    }
}

.text-admin {
    font-family: 'Yekan Bakh FaNum';
}

.login-show {
    color: #FFC450;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.message-creation .left-side .footer .file-name-message {
    position: absolute;
    top: 68px;
    right: 33px;
    display: block;
    margin-top: 10px;
    font-family: Yekan Bakh FaNum;
    font-size: 8px;
    color: gray;
    text-align: center;
    word-wrap: break-word;
}

/* left side messages*/
.message-creation .left-side .body .sent-chat-box-parent {
    margin-right: 10px;
    animation: slideUp 0.5s ease-out forwards;
}

@keyframes slideUp {
    0% {
        bottom: -50px;
        opacity: 0;
    }
    100% {
        bottom: 20px;
        opacity: 1;
    }
}

.message-creation .left-side .body .sent-chat-box-parent .body {
    position: relative;
    width: auto;
    height: auto;
    max-width: 300px;
    min-width: 150px;
    margin-top: 10px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}

.message-creation .left-side .body .sent-chat-box-parent .sent-chat-box {
    position: relative;
}

.message-creation .left-side .body .sent-chat-box-parent .sent-chat-box .time-sent {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    margin-right: 2px;
    margin-top: 0px;
    margin-left: 5px;
}

.message-creation .left-side .body .sent-chat-box-parent .sent-chat-box .attached-file-admin {
    vertical-align: middle;
    display: inline-block;
    font-size: 10px;
    margin-top: 0px;
    /*margin: 0 10px;*/
}

.message-creation .left-side .body .sent-chat-box-parent .sent-chat-box .file-name-dl {
    vertical-align: middle;
    display: inline-block;
    font-size: 10px;
    margin-top: -3px;
}

.message-creation .left-side .body .sent-chat-box-parent .sent-chat-box .file-name-dl a {
    color: #FFC450;
    text-decoration: none;
}

.message-creation .left-side .body .sent-chat-box-parent .sent-chat-box .attached-file-admin svg {
    /*margin-top: -5px;*/
    margin-right: -5px;
}

.message-creation .left-side .body .sent-chat-box-parent .admin-pic {
    position: relative;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    z-index: 1;
    background: #FDEBD0;
    border-radius: 100%;
    overflow: hidden;
}

.message-creation .left-side .body .sent-chat-box-parent .admin-pic img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.message-creation .left-side .body .sent-chat-box-parent .sent-chat-box .header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #FDEBD0;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 14px;
}

.message-creation .left-side .body .sent-chat-box-parent .sent-chat-box .header p {
    margin: 0 10px;
}

.message-creation .left-side .body .sent-chat-box-parent .sent-chat-box .body {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #FFC450;
    color: white;
    font-size: 12px;
    word-wrap: break-word;
    word-break: break-word;
    box-sizing: border-box;
    padding: 2px 8px;
    direction: rtl;
    /*margin-top: 40px;*/
}

.message-creation .left-side .body .received-chat-box-parent .received-chat-box .body {
    position: relative;
    width: auto;
    height: auto;
    max-width: 300px;
    min-width: 150px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.message-creation .left-side .body .received-chat-box-parent .received-chat-box .body {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    /*background-color: #FDEBD0;*/
    border: 3px solid #6B42C6;
    color: #6B42C6;
    font-size: 12px;
    word-wrap: break-word;
    word-break: break-word;
    box-sizing: border-box;
    padding: 2px 8px;
    direction: rtl;
    display: flex;
    box-sizing: border-box;
}

.message-creation .left-side .body .received-chat-box-parent .received-chat-box .header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    color: #6B42C6;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: Yekan Bakh FaNum;
    font-size: 14px;
    margin-left: 10px;
}

.message-creation .left-side .body .received-chat-box-parent .received-chat-box .header p {
    margin-bottom: -10px;
    margin-left: 13px;
    font-size: 13px;
}

.message-creation .left-side .body .received-chat-box-parent .received-chat-box .footer-detail {
    position: relative;
    margin-right: auto;
    text-align: left;
    margin-top: 2px;
    margin-left: 10px;
}

.message-creation .left-side .body .received-chat-box-parent .received-chat-box .footer-detail .time-received {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    margin-top: 0px;
}


.message-creation .left-side .body .received-chat-box-parent .received-chat-box .footer-detail .attached-file-user {
    vertical-align: middle;
    display: inline-block;
    font-size: 10px;
    margin-top: 0px;
    position: relative;
    /*margin-left: 62px;*/
    /*bottom: 5px;*/
    /*left: 48px;*/

}

.message-creation .left-side .body .received-chat-box-parent .received-chat-box .footer-detail .file-name-dl-user {
    vertical-align: middle;
    display: inline-block;
    font-size: 10px;
    margin-top: -3px;
    margin-left: 0px;
    position: relative;
    /*bottom: 5px;*/
    /*left: 68px;*/
}

.message-creation .left-side .body .received-chat-box-parent .received-chat-box .footer-detail .file-name-dl-user a {
    color: #6B42C6;
    text-decoration: none;
}

.message-filters {
    position: relative;
    width: 100%;
    margin: 20px 0;
    flex: 0 0 auto;
}

.dropdown {
    position: relative;
    width: 100%;
}

.dropdown-button {
    width: 100%;
    max-width: 170px;
    padding: 12px 15px;
    font-size: 12px;
    text-align: center;
    border: none;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    color: #333;
    transition: all 0.3s ease;
    font-family: 'Yekan Bakh FaNum', Arial, sans-serif;
}

.dropdown-button:hover {
    background-color: #f7f7f7;
    border-color: #d1d1d1;
}

.dropdown-menu {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 10px;
    max-width: 150px;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown-search {
    width: 100%;
    padding: 10px;
    font-size: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    outline: none;
    margin-bottom: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    max-width: 170px;
    color: #333;
    font-family: 'Yekan Bakh FaNum', Arial, sans-serif;
}

.dropdown-search:focus {
    border-color: #FFC450;
    box-shadow: 0px 4px 6px rgba(183, 149, 11, 0.2);
}

.dropdown-list {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 6px;
}

.dropdown-item {
    padding: 10px 15px;
    font-size: 14px;
    text-align: right;
    cursor: pointer;
    color: #333;
    border-radius: 6px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #f4f4f4;
    color: #FFC450;
}

.hidden {
    display: none;
}


/*!* -----faq----- *!*/
/*.modal-upload-faq-parent {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: rgb(0, 0, 0, 0.4);*/
/*    display: none;*/
/*}*/

/*.sub-modal-upload-faq {*/
/*    position: relative;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.sub-modal-upload-faq .modal-faq {*/
/*    position: relative;*/
/*    margin: 20px auto;*/
/*    background: rgba(255, 255, 255, 0.85);*/
/*    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);*/
/*    backdrop-filter: blur(17.3px);*/
/*    -webkit-backdrop-filter: blur(8px);*/
/*    border: 1px solid rgba(255, 255, 255, 0.23);*/
/*    width: 34%;*/
/*    height: 80vh;*/
/*    border-radius: 30px;*/
/*    overflow: hidden;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.sub-modal-upload-faq .modal-faq .border-faq-body {*/
/*    position: relative;*/
/*    height: calc(100% - 10px);*/
/*    width: calc(100% - 30px);*/
/*    margin: 15px;*/
/*    border: 1px solid rgba(189, 195, 199);*/
/*    border-radius: 30px;*/
/*    background: rgba(228, 233, 237, 0.2);*/
/*    text-align: center;*/
/*}*/

/*.sub-modal-upload-faq .modal-faq .border-faq-body .modal-faq-header {*/
/*    font-family: "Yekan Bakh FaNum";*/
/*    direction: rtl;*/
/*    position: relative;*/
/*    top: 0;*/
/*    left: 0;*/
/*    !*background-color: #FDEBD0;*!*/
/*    width: 100%;*/
/*    height: 13%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*}*/

/*.sub-modal-upload-faq .modal-faq .border-faq-body .modal-faq-header span {*/
/*    font-size: 36px;*/
/*    font-weight: 100;*/
/*    color: rgba(108, 122, 137);*/
/*    margin-left: 30px;*/
/*}*/

/*.sub-modal-upload-faq .modal-faq .border-faq-body .modal-faq-header p {*/
/*    font-size: 14px;*/
/*    font-weight: normal;*/
/*    color: #B7950B;*/
/*    margin-right: 30px;*/
/*}*/

/*.sub-modal-upload-faq .modal-faq .border-faq-body .modal-faq-header span:hover {*/
/*    cursor: pointer;*/
/*}*/

/*.sub-modal-upload-faq .modal-faq .border-faq-body .modal-faq-body {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    text-align: center;*/
/*    height: 87%;*/
/*    position: relative;*/
/*}*/

/*.sub-modal-upload-faq .modal-faq .border-faq-body .modal-faq-body p {*/
/*    margin: 7vh 0 0;*/
/*}*/

/*.sub-modal-upload-faq .modal-faq .border-faq-body .modal-faq-body span {*/
/*    margin: 1vh;*/
/*    font-size: 11px;*/
/*    color: rgba(108, 122, 137);*/
/*}*/

/*.sub-modal-upload-faq .modal-faq .border-faq-body .modal-faq-body form {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    gap: 15px;*/
/*    width: 100%;*/
/*    max-width: 100%;*/
/*    margin: 20% auto;*/
/*}*/

/*.sub-modal-upload-faq .modal-faq .modal-faq-body form input[type="file"] {*/
/*    font-family: Yekan Bakh FaNum;*/
/*    direction: rtl;*/
/*    border-radius: 12px;*/
/*    margin-top: -100px;*/
/*    border: 1px solid #B7950B;*/
/*    padding: 8px;*/
/*    opacity: 0;*/
/*    position: absolute;*/
/*    height: 1px;*/
/*    width: 1px;*/
/*    z-index: -1;*/
/*    display: none;*/
/*}*/

/*.custom-file-upload {*/
/*    font-family: Yekan Bakh FaNum;*/
/*    display: inline-block;*/
/*    text-align: center;*/
/*    padding: 20px 20px;*/
/*    width: 20vh;*/
/*    font-size: 14px;*/
/*    color: white;*/
/*    background-color: #B7950B;*/
/*    border-radius: 18px;*/
/*    cursor: pointer;*/
/*    border: 1px solid #B7950B;*/
/*    transition: background-color 0.3s ease;*/
/*}*/

/*.custom-file-upload:hover {*/
/*    background-color: #FDEBD0;*/
/*    color: #B7950B;*/
/*}*/

/*.sub-modal-upload-faq .modal-faq .border-faq-body .modal-faq-body form p {*/
/*    text-align: center;*/
/*}*/

/*.sub-modal-upload-faq .modal-faq .border-faq-body .modal-faq-body form input {*/
/*    font-family: Yekan Bakh FaNum;*/
/*    direction: rtl;*/
/*    width: 90%;*/
/*    height: 60px;*/
/*    border-radius: 12px;*/
/*    border: 1px solid #B7950B;*/
/*    margin-top: 5px;*/
/*    margin-bottom: 10px;*/
/*    padding: 8px 10px 8px;*/
/*    font-size: 14px;*/
/*    text-align: center;*/
/*}*/

/*.sub-modal-upload-faq .modal-faq .border-faq-body .modal-faq-body .up-btn-faqs {*/
/*    position: absolute;*/
/*    bottom: 20px;*/
/*    right: 30px;*/
/*    width: auto;*/
/*    padding: 0px 52px;*/
/*    border: 1px solid #B7950B;*/
/*    background-color: #B7950B;*/
/*    color: white;*/
/*    border-radius: 12px;*/
/*    font-size: 14px;*/
/*    outline: none;*/
/*    height: 45px;*/
/*}*/

/*.sub-modal-upload-faq .modal-faq .border-faq-body .modal-faq-body .button-divider {*/
/*    position: absolute;*/
/*    bottom: 100px;*/
/*    right: 0px;*/
/*    width: 100%;*/
/*    height: 1px;*/
/*    background-color: rgba(189, 195, 199);*/
/*}*/

/*.sub-modal-upload-faq .modal-faq .border-faq-body .modal-faq-body .up-btn-faqs:hover {*/
/*    cursor: pointer;*/
/*    background-color: #FDEBD0;*/
/*    color: #B7950B;*/
/*}*/

/*.sub-modal-upload-faq .modal-faq .border-faq-body .modal-faq-body button {*/
/*    font-family: Yekan Bakh FaNum;*/
/*    position: absolute;*/
/*    bottom: 30px;*/
/*    left: 30px;*/
/*    direction: rtl;*/
/*    outline: none;*/
/*    border: 1px solid #B7950B;*/
/*    width: auto;*/
/*    padding: 0px 52px;*/
/*    color: #B7950B;*/
/*    background-color: transparent;*/
/*    border-radius: 12px;*/
/*    height: 45px;*/
/*    font-size: 14px;*/
/*}*/

/*.sub-modal-upload-faq .modal-faq .border-faq-body .modal-faq-body button:hover {*/
/*    cursor: pointer;*/
/*    background-color: #FDEBD0;*/
/*    color: #B7950B;*/
/*}*/

/*.sub-modal-upload-faq .modal-faq .border-faq-body .modal-faq-footer {*/
/*    font-family: "Yekan Bakh FaNum";*/
/*    direction: rtl;*/
/*    position: relative;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    height: 13%;*/
/*    background-color: #FDEBD0;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    margin-top: auto;*/
/*    justify-content: space-between;*/
/*}*/

.file-name {
    display: block;
    margin-top: 10px;
    font-family: Yekan Bakh FaNum;
    font-size: 14px;
    color: #555;
    text-align: center;
    word-wrap: break-word;
}

.messages {
    margin-top: 15px;
}

/*.alert {*/
/*    padding: 10px;*/
/*    margin-bottom: 10px;*/
/*    border: 1px solid transparent;*/
/*    border-radius: 5px;*/
/*}*/

/*.alert-success {*/
/*    color: #155724;*/
/*    background-color: #d4edda;*/
/*    border-color: #c3e6cb;*/
/*}*/

/*.alert-error {*/
/*    color: #721c24;*/
/*    background-color: #f8d7da;*/
/*    border-color: #f5c6cb;*/
/*}*/

/* API Key Box Style */
.api-key-box {
    background-color: #1d1f21;
    border: 1px solid #444;
    border-radius: 20px;
    padding: 12px 15px;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace; /* Monospace font */
    font-size: 16px;
    color: white;
    text-align: left;
    word-break: break-word;
    box-shadow: 2px 4px 12px #00000014;
    width: 90%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.copy-button {
    background-color: #FFC450;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    padding: 8px 15px;
    cursor: pointer;
    width: 50%;
    transition: background-color 0.3s ease;
    font-family: 'Yekan Bakh FaNum';
}

.copy-button:hover {
    background-color: #FDEBD0;
    color: #FFC450;
}

/* -----API----- */
.modal-API-parent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.2);
    display: none;
}

.sub-modal-API {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-modal-API .modal-API {
    position: relative;
    margin: 20px auto;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.3px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.23);
    width: 34%;
    height: 30vh;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.sub-modal-API .modal-API .modal-API-header {
    font-family: "Yekan Bakh FaNum";
    direction: rtl;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-modal-API .modal-API .modal-API-header span {
    font-size: 36px;
    font-weight: 100;
    color: rgba(108, 122, 137);
    margin-left: 30px;
    margin-top: 25px;
}

.sub-modal-API .modal-API .modal-API-header p {
    font-size: 14px;
    font-weight: normal;
    color: #FFC450;
    margin-right: 30px;
}

.sub-modal-API .modal-API .modal-API-header span:hover {
    cursor: pointer;
}

.sub-modal-API .modal-API .modal-API-body {
    display: flex;
    flex-direction: column;
    height: 85%;
    position: relative;
}

.sub-modal-API .modal-API .modal-API-body p {
    margin: 4vh 0 0;
    margin-bottom: 40px;
    font-size: 24px;
}

.sub-modal-API .modal-API .modal-API-body .api-p {
    text-align: center;
    padding: 0 30px;
}

.sub-modal-API .modal-API .modal-API-body span {
    margin: 1vh;
    font-size: 16px;
    color: rgba(108, 122, 137);
}

.arrow-icon {
    margin-right: 8px;
    font-size: 12px;
    display: inline-block;
    transform: rotate(-90deg); /* چرخش به سمت پایین */
}

@media (min-width: 2560px) {
    .container .left-side .footer .send-message {
        margin-bottom: 10px;
    }

    .container .left-side .footer .send-message svg {
        margin-top: 8px;
    }
}

@media (min-width: 1440px) {
    .container .left-side .footer .textarea textarea {
    }
}

@media (min-width: 1024px) {
    .container .right-side {
        position: relative;
        top: 0;
        right: 0;
        /*width: 300px;*/
        height: auto;
        display: flex;
        flex-direction: column;
        direction: rtl;
    }

    .container .right-side .setting .setting-modal {
        right: 160px;

    }

    .sub-modal-upload-faq .modal-faq .border-faq-body .modal-faq-body button {
        position: absolute;
        bottom: 30px;
        left: 20px;
        width: auto;
        padding: 0 25px;
    }

    .sub-modal-upload-faq .modal-faq .border-faq-body .modal-faq-body .up-btn-faqs {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: auto;
        padding: 0 25px;
    }

    .sub-modal-upload-faq .modal-faq .border-faq-body .modal-faq-body form {
        margin: 10% auto;
    }
}

@media (max-width: 1023px) {
    .container {
        width: 100%;
    }

    .container .left-side {
        display: none;
        padding: 5px;
        height: 100%;
    }

    .container .left-side .footer .textarea textarea {
        /*width: 97%;*/
    }

    .container .right-side {
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        direction: rtl;
    }

    .container .right-side .customers {
        width: 100%;
    }

    .container .right-side .setting {
        width: 100%;
    }

    .container .left-side .top-header {
        visibility: visible;
        direction: rtl;
    }

    .container .left-side .top-header .top-left, .container .left-side .top-header .top-right {
        width: 25%;
        display: flex;
        justify-content: left;
        align-items: center;
        position: relative;
        top: 0;
        left: 0;
    }

    .container .left-side .top-header .top-center {
        width: 50%;
    }

    .container .left-side .top-header .top-left p {
        font-size: 12px;
    }

    .container .left-side .top-header .top-left p:hover {
        cursor: pointer;
    }

    .sub-modal-upload-faq .modal-faq {
        height: 90vh;
        width: 50%;
        background: rgba(255, 255, 255, 0.99);
    }

    .container .right-side .setting .setting-modal {
        left: 22px;
    }

    .sub-modal-API .modal-API {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .sub-modal-API .modal-API .modal-API-body p {
        margin: 50% auto;
        margin-bottom: 20px;
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .menu.hidden {
        display: none;
    }

    .menu.visible {
        display: flex;
    }

    .sidebar-header {
        display: flex;
        align-items: center;
    }
    .collapse-button {
        display: none;
    }

    .message-filters {
        position: relative;
        width: 100%;
        margin-right: 20px;
    }

    .message-creation {
        width: 92%;
        margin: 10px auto;
    }

    .message-filters .dropdown-button {
        font-size: 14px;
        padding: 10px;
        max-width: 40%;
    }

    .message-filters .dropdown-menu {
        max-width: 35.5%;
    }

    .message-filters .dropdown-search {
        font-size: 13px;
        max-width: 100%;
    }

    .dropdown-item {
        font-size: 13px;
    }
    .message-creation .left-side .body .sent-chat-box-parent .body {
    max-width: 200px;
    }
    .message-creation .left-side .body .received-chat-box-parent .received-chat-box .body {
    max-width: 200px;
    }

}
@media (min-width: 769px) {
    #toggleMenu {
        display: none;
    }
}

@media (max-width: 425px) {
    .message-creation .left-side .body .sent-chat-box-parent .body {
    max-width: 200px;
    }
    .message-creation .left-side .body .received-chat-box-parent .received-chat-box .body {
    max-width: 200px;
    }
}
/*    .container {*/
/*        width: 100vh;*/
/*        height: 100vh;*/
/*        padding: 0;*/
/*        border-radius: 0;*/
/*    }*/

/*    .container .right-side .customers {*/
/*        margin: 0 auto;*/
/*        border-radius: 0;*/
/*    }*/

    /*.container .right-side .setting {*/
    /*    background: rgba(255, 255, 255, 0.11);*/
    /*    border-radius: 0;*/
    /*}*/

    /*.container .right-side .setting .setting-modal {*/
    /*    left: 22px;*/
    /*}*/

    /*.container .left-side {*/
    /*    border-radius: 0;*/
    /*}*/

    /*.container .left-side .top-header {*/
    /*    height: 50px;*/
    /*    border-bottom: 1px solid #FDEBD0;*/
    /*}*/

    /*.sub-modal-upload-faq .modal-faq {*/
    /*    height: 100vh;*/
    /*    width: 100%;*/
    /*    background: rgba(255, 255, 255, 0.99);*/
    /*    border-radius: 0;*/
    /*}*/

    /*.sub-modal-upload-faq .modal-faq .border-faq-body .modal-faq-body button {*/
    /*    position: absolute;*/
    /*    bottom: 30px;*/
    /*    left: 20px;*/
    /*    width: auto;*/
    /*    padding: 0 25px;*/
    /*}*/

    /*.sub-modal-upload-faq .modal-faq .border-faq-body .modal-faq-body form {*/
    /*    margin: 20% auto;*/
    /*}*/

    /*.sub-modal-upload-faq .modal-faq .border-faq-body .modal-faq-header span {*/
    /*    margin-left: 20px;*/
    /*}*/


/*}*/

/*@media (max-width: 375px) {*/

/*}*/